body {
    align-items: center;
    background-color: #4b9dcc;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: 900;
    height: 100vh;
    justify-content: center;
}

h1 {
    color: #000000;
    font-family: "Uchen";
    font-size: 28px;
    margin: 0px;
}

img {
    transition: transform .7s ease-in-out;
    max-width: 300px;
    padding: 5px;
}

img:hover {
    transform: rotate(180deg);
}

footer {
    align-items: bottom;
}

a {
    color: #000000;
}